# pip==20.3.4; python_version=="2.7"
# pip>=21.3.1; python_version>="3.6"

urllib3>=1.26, <2
requests
requests[socks]
PySocks
clint
futures; python_version=="2.7"
certifi==2021.10.8; python_version=="2.7"

sphinx==1.8.6; python_version=="2.7"
sphinx; python_version>="3.6"
Jinja2==2.11.3; python_version=="3.6"

tox

setuptools>=40.8.0, <=44.1.1; python_version=="2.7"
setuptools>=40.8.0; python_version>="3.6"

build; python_version!="3.6"
build==0.7.0; python_version=="3.6"
virtualenv==20.14.1; python_version=="3.6"

wheel

pyparsing==2.4.7; python_version=="3.6"
twine