# Requirements for RTD to build docs

urllib3>=1.26, <2
requests
requests[socks]
PySocks
clint
futures; python_version=="2.7"
certifi==2021.10.8; python_version=="2.7"

sphinx==1.8.6; python_version=="2.7"
sphinx; python_version>="3.6"
Jinja2==2.11.3; python_version=="3.6"
pyparsing==2.4.7; python_version=="3.6"
